[Desktop Entry]
Type=Application
Name=YuMic
GenericName=Microphone Server
Comment=Linux microphone server for WO Mic app
Exec=yumic-server
Icon=yumic
Terminal=false
Categories=AudioVideo;Audio;
Keywords=microphone;audio;streaming;womic;
StartupNotify=true